* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0 auto;
    float: none;
}

.header {
    background-color: #fff;
    height: 100px;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
    max-width: 1062px;
    margin: 0 auto;
}

.logo {
    color: #000000;
    font-family: Inconsolata, Courier, monospace;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.nav-display {
    flex-grow: 0.5;
}

.nav-decoration a {
    font-family: "Playfair Display", Helvetica, sans-serif;
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    margin: 0 auto;
    width: 75%;
}


.welcome-section {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 100px;
}

.main-img {
    overflow: hidden;
    max-width: 1062px;    
}

.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex li {
    flex: 0 0 420px;
    margin-bottom: 130px;
}

.perfect-weekend {
    margin-top: 80px;
}

.perfect-weekend ul, .list-continue ul {
    margin-top: 120px;
}

.text-decoration h2 {
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.text-decoration h3 {
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.text-decoration h5 {
    color: #b4ad9e;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.text-decoration h6 {
    color: #000000;
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.text-decoration p {
    color: #626262;
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.photo-size {
    max-width: 423px;
    height: auto;
}

.perfect-weekend h5, .list-continue h5 {
    margin: 25px 0;
}

.perfect-weekend h2, .list-continue h2 {
    margin-bottom: 35px;    
}

.signing-up {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.signing-up h2 {
    margin: 75px 0 75px 0;
}

.signing-up form {
    margin-bottom: 75px;
}

.input-decoration {
    border-style: none;
    background-color: #f0f0f0;
    color: #626262;
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 350px;
}

.form-border {
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
}

.btn-decoration {
    background: url("photos/send-icon.png") no-repeat center center;
    width: 32px;
    height: 17px;
    border: 1px solid transparent;
}

.btn-primary {
    padding: 15px 30px;
    border: 1px solid #626262;
}

.btn-align {
    margin: 100px 0;
}

.footer {
    background-color: #f0f0f0;
    height: 100px;
    display: flex;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.footer .container {
    flex-grow: 0.05;
}

.color-dark {
    color: #333333;
}

.color-grey {
    color: #626262;        
}

.color-links-grey {
    color: #b4ad9e;
}